* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar div{
    float: left;
    width: 29%;
}

.nav-bar img {
    width: 10px;
    height: 10px;
}

.nyc-logo img {
    width: 100px;
    height: 50px;
}